*{
    margin: 0;
    padding: 0;
}
.head{
    padding: 3%;
    background-color: green;
    text-align: center;
    font-size: 40px;
}
.additem{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 8%;
}

.inputmain{
    display: flex;
    gap: 650px;
   
    margin-left: 8%;
}
.inp input{
   
    width: 200%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid#ccc;
  border-radius: 2px;
  font-size: 20px;
  box-sizing: border-box;
}
.submit button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 20px;
}

.Task{
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 8%;
}
